.editor-elem-type-page > .editor-elem-obj {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.column-center {
    max-width: 1300px;
    width: 100%;
    padding: 20px 70px;
    margin: 0 auto;
}